@import "../../assets/scss/variable.scss";

/*------------------------------------------*/
/* Header Search */
/*------------------------------------------*/
.search-box .search-box-main {
    position: fixed;
    height: 480px;
    top: -500px;
    left: 0;
    right: 0;
    z-index: 8;
    background: $secondary-color;
    transition: all 0.3s ease-in-out;
}
.header-search.search-active .search-box .search-box-main {
    top: 0;
}

/* Seach Header area */
.search-box .search-header-wrap {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    padding-top: 100px;
    padding-bottom: 80px;
}
.search-box .search-header-wrap .site-logo {
    display: flex !important;
    align-items: center;
    padding: 0 !important;
}
.search-box .search-header-wrap .site-logo svg {
    width: 180px;
    height: auto;
}
.search-box .search-header-wrap .search-btn {
    color: #ffffff;
    font-size: 20px;
    border: 2px solid rgba(255,255,255,0.15);
    width: 50px;
    height: 50px;
    border-radius: 70px;
    transition: all 0.2s ease-in-out;
}
.search-box .search-header-wrap .search-btn i:before {
    content: "\f00d";
}
.search-box .search-header-wrap .search-btn:hover {
    background: $primary-color;
    border-color: $primary-color;
}

/* Search BG Overlay */
.search-box .search-bg-overlay {
    position: fixed;
    width: 100%;
    height: 150vh;
    left: 0;
    top: 0;
    z-index: 0;
    background: rgba(0,0,0,0.05);
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.header-search.search-active .search-bg-overlay {
    visibility: visible;
    opacity: 1;
}

/* Search Form */
.search-box form {
    position: relative;
    display: flex;
    background: none;
}
.search-box form .form-control {
    display: block;
    width: 100%;
    border: none;
    outline: none;
    background: none;
    box-shadow: none;
    padding: 10px 0;
    padding-right: 60px;
    font-size: 32px;
    font-weight: 300;
    line-height: 1.5;
    color: $white-color;
    border-radius: 0;
    border-bottom: 1px solid rgba(#ffffff,0.2);
}
.search-box form .search-button {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    border: none;
    background: none;
    padding: 0 10px;
    font-size: 22px;
    font-weight: 700;
    color: $primary-color;
    cursor: pointer;
}

.search-box form .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(255, 255, 255, 0.5);
}
.search-box form .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(255, 255, 255, 0.5);
}
.search-box form .form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(255, 255, 255, 0.5);
}

/*==========================================================*/
/* Responsive CSS */
/*==========================================================*/
@media only screen and (max-width: 992px) {

    .search-box .search-box-main {padding: 0 15px;}
}

@media only screen and (max-width: 767px) {

    .search-box .search-box-main {height: 350px;  top: -400px;}
    .search-box .search-header-wrap {padding-top: 80px;  padding-bottom: 80px;}
    .search-box .search-header-wrap .site-logo svg {width: 140px;}
    .search-box .search-header-wrap .search-btn {width: 40px; height: 40px; font-size: 15px;}
    .search-box form .form-control {font-size: 22px;}
}